* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

/* first-section */

.first{
    background-color: #1F2937;
    padding: 20px 100px;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 20px;
}

ul {
    display: flex;
    gap: 20px;
}


button {
    background-color: #3882F6;
    padding: 5px 30px;
    border: 0;
    border-radius: 5px;
    margin-top: 0px;
}

.bold {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

li,
p {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

.center {
    padding: 50px 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awesome {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    max-height: auto;
    padding-bottom: 50px;
}

.mtop {
    margin-top: 0;
}

.box {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2b292a;
    min-width: 400px;
    min-height: 200px;
    margin-bottom: 30px;
}

/* second-section */
.second {
   background-color: white;
   padding: 20px;
}

h2 {
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.square {
    border: 3px solid #3882F6;
    display: flex;
    border-radius: 8px;
    width: 130px;
    height: 130px;
}

.boxes {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.subtext {
    color: black;
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-container p {
    max-width: 130px;
}
/* third section */

.third {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    padding: 60px;
}

.quote {
    font-size: 30px;
    color: black;
    max-width: 700px;
    max-height: 300px;
    padding: 50px;
    
}

.thor {
    color: black;
    font-weight: bold;
    text-align: end;
    padding-right: 30px;
}

/* fourth section */

.fourth {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bluebox {
    display: flex;
    background-color: #3882F6;
    min-width: 800px;
    min-height: 130px;
    padding: 30px 60px;
    border-radius: 5px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.bluebox button {
    color: white;
    border: 2px solid white;
    background-color: #3882F6;
}

.itstime {
    font-size: large;
    font-weight: bold;
}

/* footer */

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
}
